{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Tic Tac Toe</title>


        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{% static "tic-tac-toe/css/global.css" %}">

        <script src="{% static "third-party/modernizr/modernizr.js" %}"></script>
        <script src="{% static "third-party/requirejs/require.js" %}"></script>
        <script src="{% static "tic-tac-toe/js/config.js" %}"></script>

    </head>

    <body>

        <h1>Tic Tac Toe</h1>

        <table>

            <tr>
                <td rel="0">{{ game.board.0 }}</td>
                <td rel="1">{{ game.board.1 }}</td>
                <td rel="2">{{ game.board.2 }}</td>
            </tr>

           <tr>
                <td rel="3">{{ game.board.3 }}</td>
                <td rel="4">{{ game.board.4 }}</td>
                <td rel="5">{{ game.board.5 }}</td>
            </tr>

           <tr>
                <td rel="6">{{ game.board.6 }}</td>
                <td rel="7">{{ game.board.7 }}</td>
                <td rel="8">{{ game.board.8 }}</td>
            </tr>

        </table>

    </body>

    <script>
    require(['game'], function(TicTacToe){

        new TicTacToe({el: $('table')});

    });
    </script>


</html>